/* Tarjetas blancas para agrupar campos */
.panel-blanco-redondeado {
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 5, 0, 0, 2);
}

/* Títulos de las secciones */
.texto-panel-oscuro {
    -fx-text-fill: #2f3640;
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* Campos de texto y áreas de texto estilizados */
.text-field-form, .text-area-form {
    -fx-background-color: #ffffff; /* Fondo blanco obligatorio */
    -fx-border-color: #ced4da; /* Borde gris sutil */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-padding: 8px;
    -fx-prompt-text-fill: #6c757d; /* Color gris oscuro para el texto de pista para que se lea bien */
    -fx-text-fill: #212529; /* Color casi negro para cuando el médico escriba */
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

/* Efecto visual al hacer clic dentro del campo (Focus) */
.text-field-form:focused, .text-area-form:focused {
    -fx-border-color: #0b4a9e; /* Se pinta de azul al seleccionarlo */
    -fx-border-width: 2px;
}